table.catNameResult {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table.catNameResult td, th {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.catId {
	width: 50px;
}

.cartButton {
	background: url('../img/cart30.png');
	width: 30px;
	height: 25px;
	border: none;
}

table td.selected {
	background: yellow;
}
table td.resultSelected {
	background: pink;
}
table td.deliveryFreeSelected {
	background: pink;
	/*text-decoration: line-through;*/
}

table.order {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table.order td {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
    vertical-align: top;
    word-wrap: normal;
}
table.order td input.qty {
    width: 50px;
}
table.order td div.price {
    position: relative;
    cursor: pointer;
}
table.order td div.name {
    display: block;
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px dotted black;
    padding: 5px;
    width: 300px;
    left: -50px;
}
div.productCategoryName {
    position: relative;
}
div.productCategoryNameHint {
    display: block;
    position: absolute;
    z-index: 1;
    background: white;
    /*border: 1px dotted black;*/
    /*padding: 5px;*/
    width: 300px;
    left: -50px;
}
table.order th {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
}
table.order th.supplier {
    cursor: pointer;
}
table.order .disabled {
	background: gray;
}
table.order .totals {
    border-right: none;
    border-bottom: none;
}
table.order .pickup {
    cursor: pointer;
}
table.order .alert {
	background: red;
}

.categoryInput {
    border-bottom: 1px dotted;
    cursor: pointer;
}

#result {
    padding-top: 5px;
}

#productsList td.catName {
    cursor: pointer;
}
#productsList input {
    width: 400px;
}
